{:secret-header-name #or [#env SBSK_SECRET_HEADER_NAME "X-SBSK-Secret"]
 :secret-header-value #or [#env SBSK_SECRET_HEADER_VALUE "sdiklaicepsybskooblaiceps"]
 :metadata {:bucket "sbsk-metadata"}
 :aws-credentials {:profile "sbsk-fb-crawler"}
 :crawler  {:interval 21600000
            :hash-reset-interval 21600000
            :facebook {:app-id #env SBSK_FB_APP_ID
                       :app-secret #env SBSK_FB_APP_SECRET
                       :page-id "591976210904363"}
            :bucket-full "sbsk-data"
            :bucket-segments "sbsk-data-segmented"
            :records-per-segment 10
            :metadata-bucket ^:ref [:metadata :bucket]
            :default-tags #include "default-tags.edn"
            :credentials ^:ref [:aws-credentials]
            :re-index-port 7000
            :secret-header-name ^:ref [:secret-header-name]
            :secret-header-value ^:ref [:secret-header-value]}
 :database {:credentials ^:ref [:aws-credentials]}
 :admin    {:username #or [#env SBSK_ADMIN_USERNAME "sbsk"]
            :password #or [#env SBSK_ADMIN_PASSWORD "password"]
            :metadata-bucket ^:ref [:metadata :bucket]
            :public-bucket ^:ref [:crawler :bucket-segments]
            :playlists-key "playlists.json"
            :photo-bucket "sbsk-pictures"
            :photo-bucket-region "us-west-2"
            :credentials ^:ref [:aws-credentials]}
 :search   {:bucket-full "sbsk-data"
            :secret-header-name ^:ref [:secret-header-name]
            :secret-header-value ^:ref [:secret-header-value]}
 :log      {:level #profile {:development :debug
                             :production  :info}}}
