.custom-wrapper {
  background-color: #fff;
  margin-bottom: 0.3em;
  -webkit-font-smoothing: antialiased;
  height: 97px;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
  box-shadow: 0px 0px 20px #bbb;
}

.custom-img {
  margin-right: 10px;
}

.pure-menu-link {
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 4px;
}

.custom-can-transform {
  display:inline-table;
}

.custom-wrapper.open {
  height: 19em;
}

.custom-menu {
  display: inline-table;
}

.custom-title {
  margin: 0px 0px 0px 0px;
  min-width: 300px;
}

.custom-toggle {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.custom-toggle .bar {
  background-color: #777;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@media (max-width: 48em) {

  .custom-toggle {
    display: block;
  }

  .custom-title{
    font-size: 24px;
    position: absolute;
    top: 32px;
    left: 108px;
  }

  .custom-can-transform {
    display:block;
  }

  .pure-menu-horizontal {
    white-space: normal;
    width: 10px;
  }

}
